@import "tailwindcss";

@theme {
  --color-primary: #C6ABFF;
  --color-light: #FFFFFF;
  --color-gray-800: #29262C;
  --font-title: "Gabarito";
  --font-fancy: "Gloria Hallelujah";
}
* {
  box-sizing: border-box;
}

body  {
  height: 100vh;
}

#root {
  display: contents;
}